# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/
*.tsbuildinfo
*.local

# Entorno
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
